* {
  box-sizing: border-box;
}
.header {
  grid-area: h;
  background-color: blue;
}
.main {
  background-color: chartreuse;
  grid-column: 1 / span 5;
}
.sidebar {
  background-color: blueviolet;
  grid-column: 3 / span 2;
}
.twin1 {
  background-color: gold;
  grid-column: 1 / span 3;
}
.twin2 {
  background-color: gold;
  grid-column: 4 / span 3;
}
.footer {
  grid-area: f;
  background-color: aqua;
}
.text {
  grid-area: t;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
}
body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  margin: 0;
  gap: 2rem;
  grid-template-areas:
    "h h h"
    ".t."
    "f f f";
}
