img {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
h1 {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  top: 100%;
  left: 100%;
  color: white;
  background: rgb(red, green, blue);
  padding: 1rem 0.5rem;
}
